@media screen and (min-width: 768px) {
    /* Layout Grid PC */
    .content-wrapper {
        display: grid;
        grid-template-columns: 350px 1fr;
        height: calc(100vh - 180px);
    }

    /* Logo di PC kembali ke Sidebar */
    .logo-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    #main-logo {
        width: 180px; /* Ukuran besar di PC */
    }

    #slider-container {
        display: block;
        padding: 40px;
        overflow-x: auto;
    }

    /* Kartu di PC tidak menumpuk, tapi berderet ke samping */
    .card-element {
        position: relative !important;
        display: inline-block;
        width: 320px;
        height: 480px;
        margin-right: 20px;
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
    }
}
